---
import Layout from '../layouts/Layout.astro';
import DiagramGenerator from '../components/DiagramGenerator.vue';
---

<Layout>
  <hgroup>
    <h2>Diagram Generator</h2>
    <p>Google Gemini does not appear to have an Node.js API available for Image Generation, so this is the next best thing.</p>
  </hgroup>
  <DiagramGenerator client:only />
</Layout>
