---
import PartIdentifier from '../components/PartIdentifier.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <hgroup>
    <h2>Part Identifier</h2>
    <p>Take a photo of an object and receive some information about the object.</p>
  </hgroup>
  
  <PartIdentifier client:only />
</Layout>
