---
import EyeForm from '../components/WebCamera.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>Features</h2>
  <ul>
    <li>Part Identification</li>
    <li>Document Scanner</li>
    <li>Diagram Generation</li>
  </ul>
</Layout>

