---
import EyeForm from '../components/EyeForm.vue';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>Stratus A-EYE</h1>
        <p>Figuring stuff out, so you don't have to!</p>
      </hgroup>
    </header>
    <main>
      <EyeForm client:only />
    </main>
  </body>
</html>

<style>
  main,
  header {
    width: min(100% - 3rem, var(--container-max, 60ch));
    margin-inline: auto;
  }


</style>
