---
import EyeForm from '../components/WebCamera.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h2>Features</h2>
  <ul>
    <li>Part Identification - Find out what that thing is, AI might know!</li>
    <li>Document Scanner - Grab some text from the physical world, copy and paste as needed!</li>
    <li>Diagram Generation - Doesn't do what you might expect!</li>
  </ul>
</Layout>

