---
import { actions } from 'astro:actions';

const result = Astro.getActionResult(actions.getGreeting);
if (result && !result.error) {
  console.log(result);
}
---

{result?.error && <p>Unable to get response from Gemini.</p>}

<form id="prompt-form" method="POST" action={actions.getGreeting}>
  <input transition:persist type="text" name="prompt" id="prompt" />
  <input type="submit" value="Get Response" />
	<div id="loader">Loading...</span>

  <script>
    import { actions } from 'astro:actions';
    const promptForm = document.getElementById('prompt-form');
		const loader = document.getElementById('loader');
    if (loader) {
      loader.style.display = 'none';

			promptForm?.addEventListener('submit', async (event) => {
				event.preventDefault();
				loader.style.display = 'block';
	
				let form;
	
				if (promptForm instanceof HTMLFormElement) {
					form = new FormData(promptForm);
				} else {
					throw new Error('Form element not found');
				}
				
				try {
					const { data, error } = await actions.gemini.getResponse(form);
		
					if (data) {
						console.log(data);
						
					}
					if (error) {
						throw new Error(error.message || error.toString());
					}
					loader.style.display = 'none';
				} catch (error) {
					console.error(error);
				}
			});
    }


  </script>
</form>
