---
import DocumentScanner from '../components/DocumentScanner.vue';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <hgroup>
    <h2>Document Scanner</h2>
    <p>Grab details from a physical document to use digitally.</p>
  </hgroup>

  <DocumentScanner client:only />
</Layout>
