<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stratus A-EYE</title>
  </head>
  <body>
    <header>
      <hgroup>
        <p>Stratus | 2025 Hackathon</p>
        <h1><a href="/">Project A-EYE</a></h1>
        <p>Figuring stuff out, so you don't have to!</p>
      </hgroup>
      <nav>
        <ul>
          <li><a href="/identify-part">Part Identification</a></li>
          <li><a href="/scan-document">Scan Document</a></li>
          <li><a href="/generate-diagram">Generate Diagram</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  @import '@acab/reset.css' layer(reset);
  body {
    padding-block: 1.5rem;
  }
  main,
  header {
    width: min(100% - 3rem, var(--container-max, 80ch));
    margin-inline: auto;

    > * + * {
      margin-block-start: 1rem;
    }

    hgroup {
      > * {
        margin: 0;
        paddign: 0;
      }
    }

    nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 1rem;
    }
  }

  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
